<h1>... and what the hell is this?</h1>
<pre class="bigger" style="background:#2a211c;color:#bdae9d"><span style="color:#43a8ed;font-weight:700">var</span> HelloWorld <span style="color:#687687">=</span> React.createClass({
  <span style="color:#ff9358;font-weight:700">render</span>: <span style="color:#43a8ed;font-weight:700">function</span>(){
    <span style="color:#43a8ed;font-weight:700">return</span> <span style="color:#687687">&lt;</span>h1 id<span style="color:#687687">=</span><span style="color:#049b0a">"Hello"</span><span style="color:#687687">></span>Hello World<span style="color:#687687">&lt;</span>/h1<span style="color:#687687">></span>
  }
})
React.render(<span style="color:#687687">&lt;</span>HelloWorld /<span style="color:#687687">></span>, <span style="color:#6d79de;font-weight:700">document</span>.<span style="color:#00af0e;font-weight:700">body</span>);
</pre>

<pre class="bigger fragment" style="background:#2a211c;color:#bdae9d"><span style="color:#43a8ed">&lt;<span style="font-weight:700">body</span>></span>
  <span style="color:#43a8ed">&lt;<span style="font-weight:700">h1</span> <span style="font-style:italic">id</span>=<span style="color:#049b0a">"Hello"</span>></span>Hello World<span style="color:#43a8ed">&lt;/<span style="font-weight:700">h1</span>></span>
<span style="color:#43a8ed">&lt;/<span style="font-weight:700">body</span>></span>
</pre>
